<!DOCTYPE html>
<html>
<head>
  <title> This is lab 8 </title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
<h1> This is lab 8 </h1>
<p> Daniel Dinjian did it! </p>
</div>


</body>
</html>
